.head {
    background-color:rgba(158, 195, 238, 0.644);
    text-align:center;
    img{
        width:240px;
        height: 240px;
        border-radius:  120px;
        box-shadow:-1px 3px 40px -2px rgba(40, 86, 185, 0.671);//con esto damos una sombra, podemos variarel color
    
    }
}

.row{
    justify-content:center;
    
}

.oscuro{
    padding:10px;
    position:absolute;
    top:20px;
    right:50px;
    border: radius 50%;
    border:none;
}
