/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgba(240, 238, 219, 0.692);
    &.dark{
        background-color:black;
        
       
    }
}



.head{
margin-top:20px;
background-color:rgb(143, 144, 129);
padding:20px;

}
.enlace{
    button{
        margin:10px;
        padding:15px;
        font-size:20px;
        border-radius:5px;
        justify-content:center;
        width:200px;
        a{
            text-decoration: none;
            color:rgba(0, 0, 0, 0.678)
        }
    }
}